<div
  #box
  class="resizable-draggable"
  [style.width.px]="width"
  [style.height.px]="height"
  [style.border-radius]="borderRadius + '%'"
  [style.transform]="'translate3d(' + left + 'px,' + top + 'px,' + '0px)'"
  [class.active]="status === 1 || status === 2"
  (mousedown)="setStatus($event, 2)"
  (window:mouseup)="setStatus($event, 0)"
>
  <!-- <div class="seating-list-left" cdkDropList>I'm seating</div> -->
  <div class="table-container">
    <div class="table"></div>
    <div class="remove-table" (click)="removeTable()">x</div>
    <div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
  </div>
  <!-- <div class="seating-list-right" cdkDropList>I'm seating</div> -->
</div>
