<div class="app-container">
  <div class="interaction-container">
    <div class="file-input-container" *ngIf="!this.data.length">
      <label>Select your file (.csv format only)</label>
      <input
        class="file-selection"
        type="file"
        accept=".csv"
        (change)="importDataFromCSV($event)"
      />
    </div>
    <div class="name-search-container" *ngIf="this.data.length > 0">
      <app-name-list
        [componentData]="data"
        [filterProperty]="settingsForm.controls['guestNameKey'].value"
        (nameSelected)="createNameTag($event)"
      ></app-name-list>
    </div>
    <div class="form-details-container">
      <form [formGroup]="settingsForm" class="settings-form">
        <mat-form-field class="example-full-width">
          <mat-label>Property name</mat-label>
          <input
            id="guestNameKey"
            formControlName="guestNameKey"
            matInput
            #message
            maxlength="256"
            value="name"
            placeholder="Guest name property value"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Number of tables</mat-label>
          <input
            matInput
            type="number"
            max="50"
            min="0"
            formControlName="numberOfTables"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Table type</mat-label>
          <select formControlName="tableType" matNativeControl required>
            <option value="circular">Circular</option>
            <option value="rectangle">Rectangle</option>
            <option value="square">Square</option>
          </select>
        </mat-form-field>
      </form>
      <span *ngIf="showFormError">
        Please select a table type and a number of tables greater than 0
      </span>
    </div>
    <div class="button-container">
      <button
        type="button"
        class="generation-button"
        mat-raised-button
        color="primary"
        (click)="generateTables()"
      >
        Generate Tables
      </button>
      <button
        type="button"
        class="capture-button"
        mat-raised-button
        color="primary"
        (click)="captureAndDownloadSeatPlan()"
      >
        Capture and download
      </button>
    </div>
  </div>
  <div class="contents-container">
    <div class="name-tag-container">
      <app-name-tag
        *ngFor="let guestTag of nameTags; let i = index"
        [tagData]="guestTag"
        cdkDrag
        [style.transform]="'translateY(' + i * 40 + '%)'"
      >
      </app-name-tag>
    </div>
    <div class="table-container" *ngIf="showTables">
      <app-resizable-table
        *ngFor="let table of tableArray; let i = index"
        [width]="table.startingHeight"
        [height]="table.startingWidth"
        [left]="100"
        [top]="100"
        [borderRadius]="table.borderRadius"
        [indexPosition]="i"
        (deleteTable)="removeTableFromArray($event)"
      ></app-resizable-table>
    </div>
  </div>
</div>
